@charset "utf-8";
/* CSS Document */



body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{margin: 0; padding: 0; outline: none;}

body{margin:0 auto; line-height:1; font-size:62.5%; background:#8b795e; font-family:Arial, Helvetica, sans-serif;} /*---- 1.0 em = 10px---*/


table{}
form{margin-left:100px;}

input, textarea{padding:3px; margin-bottom:5px; border:1px solid #c0c0c0; -moz-border-radius:3px; -webkit-border-radius:3px;}

input:focus, textarea:focus{border-color:#999;}

label{display:block; font-size:2em; margin-top:5px;}

textarea{overflow:auto; font:1.2em Arial, Helvetica, sans-serif; color:#333; line-height:1.6em;width:300px;}
a{padding-top: 10px;background-color: #EEEEE0; display:block; text-decoration:none; color:#8b8682; font-size:18px; width:100px;  height:40px;position: relative;  text-align: center; border-radius:10px;margin-left:100px;margin-top:5px; }
a:hover{ background:#CDB38B; color:white; font:"Times New Roman"; font-size:18px; display:block; border-radius:10px; }
#corpo{background-color: #cdc0b0; width: 800px; height: 500px }
#banner{margin-top: 0;position: initial}




